# Dependencies
node_modules/

# Build output
dist/
build/

# Env
.env
.env.local
!.env.example

# Database
*.db
*.db-journal

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store

# Prisma
server/prisma/migrations/dev.db

.vercel
